<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Boots Application</title>
    
    <link rel="stylesheet" type="text/css" href="/style.css">
    <!--
    <link rel="apple-touch-icon" sizes="180x180" href="C:\Users\Thomas\Documents\NetBeansProjects\bootsBootique\src\main\resources\static\apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    -->
  </head>
  <body>
    <div id="bootsApp" class="boots-app-container">
      <div class="boots-banner">
        <h1>Boots Bootique</h1>
      </div>
      <hr />
      <div id="bootsList" class="boots-list">
        <h2>Boots Inventory</h2>
        <table class="boots-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>TYPE</th>
              <th>MATERIAL</th>
              <th>SIZE</th>
              <th>QUANTITY</th>
              <th>ACTIONS</th>
            </tr>
          </thead>
          <tbody th:unless="${#lists.isEmpty(boots)}" id="bootsTableBody">
              <tr th:each="boot : ${boots}">
                <td th:text="${boot.id}"/>
                <td th:text="${boot.type}"/>
                <td th:text="${boot.material}"/>
                <td th:text="${boot.size}"/>
                <td th:text="${boot.quantity}"/>
              </tr>
          </tbody>
        </table>
      </div>
      <hr />
      <!--
      <td>${boot.id}</td>
      <td>${boot.type}</td>
      <td>${boot.material}</td>
      <td>${boot.size}</td>
      <td>${boot.quantity}</td>
      <td>
        <span class="delete-boot-icon" onclick="deleteBootById(${boot.id}, renderBootsListCallback(document.getElementById('bootsTableBody')));">❌</span>
        <span class="increment-boot-icon" onclick="changeBootQuantity(${boot.id}, 'increment', renderBootsListCallback(document.getElementById('bootsTableBody')));">⬆️</span>
        <span class="decrement-boot-icon" onclick="changeBootQuantity(${boot.id}, 'decrement', renderBootsListCallback(document.getElementById('bootsTableBody')));">⬇️</span>
      </td>
      -->
      <div class="boots-form-container">
        <h2>Add New Boot</h2>
        <form id="addNewBoot" class="boots-form" action="#" th:action="@{/boots/add}" th:object="${newBoot}" method="post">
          <div class="boot-form-entry">
            <label for="material">Material</label>
            <input type="text" id="material" name="material" th:field="*{material}">
          </div>

          <div class="boot-form-entry">
            <label for="type">Type</label>
            <select th:field="*{type}" class="boot-types-dropdown" name="type" id="bootTypesDropdown" form="addNewBoot">
                <option th:each="p : ${listType}" th:value="${p}" th:text="${p}" />
            </select>
          </div>

          <div class="boot-form-entry">
            <label for="size">Size</label>
            <input type="number" id="size" name="size" th:field="*{size}" min="0" max="26" step="0.5">
          </div>

          <div class="boot-form-entry">
            <label for="quantity">Quantity</label>
            <input type="number" id="quantity" name="quantity" th:field="*{quantity}" min="0" step="1">
          </div>

          <button type="submit" id="addNewBootSubmit">Add</button>
        </form>
      </div>
      <hr/>
      <div class="boots-form-container">
        <h2>Search Boots</h2>
        <form id="searchBoots" class="boots-form" action="#" th:action="@{/boots/search}" th:object="${newBoot}" method="get">
          <div class="boot-form-entry">
            <label for="material">Material</label>
            <input type="text" id="material" name="material" th:field="*{material}">
          </div>

          <div class="boot-form-entry">
            <label for="type">Type</label>
            <select th:field="*{type}" class="boot-types-dropdown" name="type" id="bootTypesDropdown" form="searchBoots">
                <option value="">ANY</option>
                <option th:each="p : ${listType}" th:value="${p}" th:text="${p}" />
            </select>
          </div>

          <div class="boot-form-entry">
            <label for="size">Size</label>
            <input type="number" id="size" name="size" th:field="*{size}" min="0" max="26" step="0.5">
          </div>

          <div class="boot-form-entry">
            <label for="quantity">Quantity</label>
            <input type="number" id="quantity" name="quantity" th:field="*{quantity}" min="0" step="1">
          </div>

          <button type="submit" id="searchBootSubmit">Search</button>
        </form>
        <hr />
        <div id="searchBootResults">
        <h3>Results</h3>
        <table class="boots-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>TYPE</th>
              <th>MATERIAL</th>
              <th>SIZE</th>
              <th>QUANTITY</th>
              <th>ACTIONS</th>
            </tr>
          </thead>
          <tbody id="bootsSearchResultsTableBody">
          </tbody>
        </table>
        </div>
      </div>
    </div>
      <!--
    <script type="text/javascript" src="/bootsApi.js"></script>
      -->
  </body>
</html>